<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Ninja</title>

    <link rel="stylesheet" th:href="@{/css/adicionarStyle.css}">
</head>
<body>

<div class="container"></div>

<h1>Adicionar Ninja</h1>
<table class="ninja-table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Imagem</th>
        <th>Id</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Idade</th>
        <th>Rank</th>
        <th>Missoes</th>
    </tr>
    </thead>

    <tbody>

    </tbody>
</table>
</div>
</body>
</html>